.photos-controls {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #666;
  li {
    display: inline-block;
    position: relative;
    + li {
      margin-left: 10px;
    }
    &:hover {
      .hint {
        visibility: visible;
      }
    }
  }
  .btn {
    line-height: 1;
    padding: 0;
  }
  .hint {
    position: absolute;
    top: calc(100% + 10px);
    left: -8px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 0.7em;
    line-height: 1.4;
    border-radius: 4px;
    padding: 2px 6px;
    display: inline-block;
    white-space: nowrap;
    visibility: hidden;
    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 6px;
      width: 0;
      height: 0;
      border-style: solid;
    }
    &:after {
      top: -14px;
      border-color: transparent transparent #fff transparent;
      border-width: 8px;
    }

    &:before {
      top: -16px;
      border-color: transparent transparent #ccc transparent;
      border-width: 8px;
    }
  }
}

.photos {
  &-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  &-item {
    cursor: pointer;
    &:hover {
      outline: 4px solid #eee;
      background-color: #eee;
    }
    &__img {
      padding-top: calc(200 / 340 * 100%);
      background-color: #eee;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 9px;
    }
    &__title {
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 7px;
    }
    &__size {
      font-size: 0.8em;
      color: #666;
    }
  }
}

.sort-controls .active {
  pointer-events: none;
}
