@media (max-width: 1200px){
    .photos-grid{
        grid-template-columns: repeat(4, 1fr)
    }
    
}
@media (max-width: 992px){
    .photos-grid{
        grid-template-columns: repeat(3, 1fr)
    }
}
@media (max-width: 768px){
    .wrapper{
        padding-left: 0;
    }
    .sidebar{
        width: 100%;
        position: static;
        nav{
            margin-bottom: 24px;
        }
    }
}
@media (max-width: 576px){
    .user-info{
        padding-top: 10px;
    }
    .photos-grid{
        grid-template-columns: repeat(2, 1fr)
    }
}